@font-face {
    font-family: "LarishNeue";
    src: url("../fonts/Larish\ Neue\ Semibold.woff2") format("woff2"),
         url("../fonts/LarishNeueSemibold.woff") format("woff");
}
:root{
    --blacky: #000;
    --whity: #fff
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "LarishNeue";
}
header{
    background-color: var(--blacky);
    width: 100%;
    color: var(--whity);
}
.line{
    border-left: 2px solid gray;
    height: 10vh;
    position: relative;
    left: 50%;
}
header h1{
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    margin:0 auto;
}
header span{
    -webkit-text-stroke: 1px var(--whity);
    color: var(--blacky);
}
header>p{
    text-align: center;
}
.font--p{
    font-size: 1.2em;
    font-weight: lighter;
}
header div:nth-of-type(2){
    width: 80%;
    margin:2em auto;
}
header a{
    position: relative;
    display: inline-block;
    left:77%;
    color: var(--whity);
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid;
}
header a:hover{
    background-color: var(--whity);
    color: var(--blacky);
}
header h2{
    /* width: 60%; */
    font-size: 3em;
    padding: 0 20% 1em 10%;
}
header div:nth-of-type(3){
    margin: 0 auto;
    width: 80%;
    background: no-repeat right/30% url(../img/map.svg);
    padding-bottom:5em; 
}

header div:nth-of-type(3) h3{
    font-size: 3em;
}
/* =====MAIN; STUCK IN THE MIDDLE===== */

.stuck .grid1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,1fr);
    width: 90%;
    height: 30vh;
    margin:0 auto;
    /* background-image: url(../img/action1.jpeg), url(../img/action2.jpeg);
    background-position: right, left;
    background-size: 30%, 20%;
    background-repeat: no-repeat, no-repeat; */
}
.stuck div:nth-of-type(1) img:nth-of-type(1){
    grid-column: 5/ span 2;
    grid-row: 1/ span1;
    width:100%;
    position: relative;
    bottom: 3em;
}
.stuck div:nth-of-type(1) img:nth-of-type(2){
    grid-column: 1/ span 3;
    grid-row: 3/ span1;
    width:50%;
}
.stuck .grid2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 30vh;
    margin:0 auto;
}
.stuck article div{
    grid-column: 2/ span 1;
    grid-row: 1/ span1;  
}
.stuck article div h2{
    font-size: 2.5em;
}
.stuck article img{
    grid-column: 3/ span 1;
    grid-row: 2/ span1; 
    width: 100%; 
}
.stuck div:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,1fr);
    width: 90%;
    height: 30vh;
    margin:0 auto;
}
.stuck div:nth-of-type(2) img:nth-of-type(2){
    grid-column: 5/ span 2;
    grid-row: 2/ span1;
    width:100%;
    position: relative;
    right: 4em;
}
.stuck div:nth-of-type(2) img:nth-of-type(1){
    grid-column: 1/ span 2;
    grid-row: 1/ span1;
    width:100%;
    position: relative;
    left: 2em;
}

.stuck div:nth-of-type(3) img{
    grid-column: 1/ span 1;
    grid-row: 2/ span1; 
    width: 100%;
}
.stuck div:nth-of-type(3) p{
   padding-left: 1em;
   grid-column: 2/ span 1;
   grid-row: 2/ span1; 
   width: 100%;
}
.stuck div:nth-of-type(4){
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    width: 90%;
    height: 30vh;
    margin:0 auto;
} 
.stuck div:nth-of-type(4) img{
    width: 100%;
    grid-column: 2/ span 1;
    grid-row: 2/ span1;
}

/* =====MAIN; GOLDEN BEAR===== */
.goldenBear{
    background-color: var(--blacky);
    color: var(--whity);
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;
}
.goldenBear div:nth-of-type(1){
    width: 20%;
    padding-top: 10em;
}
.goldenBear div:nth-of-type(2){
    width: 50%;
    padding-top: 10em;
}
.titles{
    font-size: 3em;
    padding: 0 20% 0em 0%;
}
.texts{
    font-size: 1.5em;
    padding-bottom: 1em;
}

.goldenBear div:nth-of-type(2) #strich::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 1.5em;
    background-color: var(--whity);
    bottom: 4px;
    position: relative;
}

.pics{
    padding-top: 4em;
    background-color: var(--blacky);
    display: flex;
    justify-content:center;
    align-items: center;
}

.bear{
     background-image: url(../img/goldenbear.png);
     background-size: cover;
     background-repeat: no-repeat;
     height: 40vh;
     width: 50%;
     position: relative;
     top: 5em;
}
.bearheads{
     background-image: url(../img/gb2.png);
     background-size: cover;
     background-repeat: no-repeat;
     height: 30vh;
     width: 30%;
     position: relative;
     right: 3em;
     top: 5em;
}
/* =====MAIN; POPPY BEAR===== */
.poppyBear{
    background-color: var(--whity);
    color: var(--blacky);
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;
}
.poppyBear div:nth-of-type(1){
    width: 20%;
}
.poppyBear div:nth-of-type(2){
    width: 50%;
}
.poppyBear div:nth-of-type(2) #strich::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 1.5em;
    background-color: var(--blacky);
    bottom: 4px;
    position: relative;
}
.pics2{
    padding-top: 4em;
    background-color: var(--whity);
    display: flex;
    justify-content:center;
    align-items: center;
}
.bear2{
    background-image: url(../img/pb3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 30%;
    position: relative;
    left: 3em;
}
.bearheads2{
    background-image: url(../img/rosebear.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 50%;
}
/* ========FOOTER========= */
footer{
    margin-top: 3em;
    background-color: var(--blacky);
    color: var(--whity);
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}
footer>div:nth-of-type(1){
    width: 50%;
    padding-top:5em;
    margin-left: 4em;
}
footer>div p:first-child{
    padding-bottom: 1em;
}
footer>div h2{
    font-size: 1.5em;
}
footer>div a{
    display: block;
    padding:0.5em 1em;
    text-decoration: none;
    color: var(--whity);
    border-style: solid;
    width: 23%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}
footer>div a:hover{
    background-color: var(--whity);
    color: var(--blacky);
}
footer>div img{
    width: 2em;
    height: 2em;
}
footer div:nth-of-type(2){
    width: 40%;
    justify-self: right;
    align-self: flex-end;
    position: relative;
    left: 2em;
}
footer div:nth-of-type(2) img{
    width:6em ;
    margin-bottom: 1.5em;
    margin-left: 1em;
}
/* ======ANIMATION-Circle======= */
.animCircle{
    height: 20em;
    position: relative;
    left: 70%;
    bottom: 5em;
    animation: animCircl 10s linear infinite;
}
@keyframes animCircl{
    100%{
        transform: rotate(360deg);
    }
}
/* ======ANIMATION-Banner======= */
.animText{
    position:absolute;
    width: 100%;
    height: 10%;
    left: 40%;
    top: 25%;
    transform: rotate(40deg);
    text-align: center;
    background-color: var(--whity);
}
.animText span{
    -webkit-text-stroke: 2px var(--blacky);
    color: var(--whity);
}
.animText h4{
    font-size: 2em;
    position: relative;
    top: 0.25em;
    color: var(--blacky);
    animation: banner 4s infinite linear alternate;
}
@keyframes banner {
    from{
        transform: translate(-5em,0px);
    }
    to{
        transform: translate(5em,0px);
    }
}
 /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:901px)  { 
    header h1{
        font-size: 4.5em;
    }
    .font--p{
        font-size: 1.5em;
    }
    header a{
        left:82%;
    }
    header div:nth-of-type(3) h3{
        font-size: 3.5em;
    }
    .stuck .grid1{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2,1fr);
        height: 40vh;
    }
    .stuck .grid2{
        height: 40vh;
    }
    .stuck article div h2{
        font-size: 4.5em;
    }
    .stuck div:nth-of-type(2){
        height: 40vh;
    }
    .stuck div:nth-of-type(4){
         height: 40vh;
    } 
    .goldenBear div:nth-of-type(1), .goldenBear div:nth-of-type(2){
        padding-top: 20em;
    }
    .titles{
        font-size: 4.5em;
    }
    .texts{
        font-size: 2em;
        padding-bottom: 1em;
    }

    .bear{
        height: 70vh;
        top: 8em;
    }
    .bearheads{
        height: 50vh;
        right: 5em;
        top: 8em;
    }
    .bear2{
        height: 50vh;
        left: 5em;
    }
    .bearheads2{
        height: 70vh;
        width: 50%;
    }
    footer div:nth-of-type(2){
        width: 20%;
        left: 15%;
        position: relative;
    }
    footer>div img{
        width: 3em;
        height: 3em;
        margin-right: 0.5em;
    }
    footer div:nth-of-type(2) img{
        width:6em ;
        margin-bottom: 3em;
        margin-left: 1em;
    }
    .animCircle{
        height: 30em;
        bottom: 10em;
    }
    

}